.container {
  max-width: 600px;
  margin-bottom: 32px;
}

.formName {
  margin-bottom: 24px;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
}

.textField {
  margin-bottom: 20px;
  padding: 14px;
}

.inner {
  padding: 14px;
}

.isFullTime {
  padding: 14px;
  display: flex;
  align-items: center;
}

.gender {
  border: 1px solid #000;
  padding-bottom: 14px;
  border-radius: 3px;
}

.genderTitle {
  padding: 14px;
}

select {
  width: 100%;
}

.span {
  margin-left: 10px;
}

.btn {
  width: 200px;
}

input::placeholder {
  font-style: inherit;
  font-size: 14px;
}

.error {
  color: #f00;
  margin-top: -30px;
  margin-bottom: 14px;
  font-size: 14px;
}
