.container {
  position: relative;
  margin-bottom: 32px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.lightTheme {
  composes: header;
}

.darkTheme {
  composes: header;
  color: #eee;
}

.img_container {
  width: 35px;
  margin-right: 8px;
}
